/* *{
    border: 2px solid blue;
} */

/* body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}

body > header {
    grid-area: 1 1 2 3;
}

body > section {
    grid-area: 2 1 3 4;
} */

.row {
    display: flex;
    flex-wrap: wrap;
}

.letter0 {
    border-style: solid;
    border-color: crimson;
    height: 50px;
    width: 50px;
}

.letter1 {
    border-style: solid;
    border-color: blue;
    height: 50px;
    width: 50px;
}

.letter2 {
    border-style: solid;
    border-color: green;
    height: 50px;
    width: 50px;
}

.letter3 {
    border-style: solid;
    border-color: yellow;
    height: 50px;
    width: 50px;
}

.letter4 {
    border-style: solid;
    border-color: purple;
    height: 50px;
    width: 50px;
}
