/* *{
    border: 2px solid blue;
} */

body {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
}

footer {
    text-align: center
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Chakra Petch', sans-serif;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row > div {
    border-style: solid;
    border-color: green;
    /* fix the text size and make a square */
    font-size: 15px;
    height: 15px;
    width: 15px;
    margin: 5px;
    text-align: center;
    text-transform: uppercase;
    /* vertically align letters in div */
    padding: 25px 25px; 
    border-radius: 15px;
}

#box2 {
    text-align: center;
}

#guess {
    margin: 10px
}

#timer {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons > button {
    /* add spacing around buttons */
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    background-color:seagreen;
    color: aliceblue;
    transition: 0.3s;
    opacity: 0.8;
    cursor: pointer;
}

.buttons > button:hover {
    opacity: 1;
}

.correct {
    background-color: green;
}

.almost {
    background-color: orange;
}




